@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    border: 1px solid #e5e7eb; /* Default border color */
  }
  body {
    background-color: #ffffff; /* Default white background */
    color: #000000; /* Default black text */
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
  }
  html {
    height: 100%;
  }
}
